// FONTS
$font-default: 'Roboto', sans-serif;

// COLORS
$color-red: #d80000;
$color-red-light: #ff5959;
$color-red-dark: #a50000;

$color-white: #fff;

$color-add: #12b500;
$color-view: #0083ff;

$color-grey-light: #efefef;
$color-grey: #b5b5b5;
$color-grey-dark: #333;

// BREAKPOINTS
