// FONTS
$font-default: 'Roboto', sans-serif;

// COLORS
$color-red: #d80000;
$color-red-light: #ff5959;
$color-red-dark: #a50000;

$color-white: #fff;

$color-add: #12b500;
$color-view: #0083ff;

$color-grey-light: #efefef;
$color-grey: #b5b5b5;
$color-grey-dark: #333;

// BREAKPOINTS
$bp-large: 75em;       // 1200px / 16 = 75em
$bp-medium: 56.25em;   // 900px / 16 = 56.25em
$bp-small: 37.5em;     // 600px / 16 = 37.5em
$bp-smallest: 31.25em; // 500px / 16 = 31.25em