.features {
  width: 100%;
  display: flex;
  justify-content: space-evenly;

  @media only screen and (max-width: $bp-smallest) {
    flex-direction: column;
  }
}

.feature {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  @media only screen and (max-width: $bp-smallest) {
    margin-bottom: 3rem;
  }

  &__icon {
    width: 15rem;
    height: 15rem;
    fill: $color-red;
    margin-bottom: 2rem;
    transition: all .2s;

    @media only screen and (max-width: $bp-smallest) {
      margin-bottom: 1rem;
      width: 10rem;
      height: 10rem;
    }
  }

  &__text {
    text-align: center;
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: 700;
    color: $color-grey-dark;

    @media only screen and (max-width: $bp-smallest) {
      font-size: 1.5rem;
    }
  }
  
  &:hover &__icon {
    fill: $color-red-dark;
  }
}
