.totals {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 2rem;
    background-color: $color-red;
    padding: 1rem;
  }

.total {
  font-size: 2.2rem;
  color: $color-white;
}
